<body class="text-center">
    <form (submit)="createBuilding()">
        <div class="form-floating">
            <label for="floatingBuildingCode">Building Code</label>
            <input type="text" id="floatingBuildingCode" placeholder="Building Code" required>
            <label for="floatingBuildingName">Building Name</label>
            <input type="text" id="floatingBuildingName" placeholder="Building Name" required>
            <label for="floatingBuildingDescription">Building Description</label>
            <input type="text" id="floatingBuildingDescription" placeholder="Building Description" required>
            <label for="floatingBuildingWidthMax">Max Width</label>
            <input type="text" id="floatingBuildingWidthMax" placeholder="Max Dimension X" required>
            <label for="floatingBuildingLengthMax">Max Length</label>
            <input type="text" id="floatingBuildingLengthMax" placeholder="Max Dimension Y" required>
            <button class="submit-button" type="submit"> Create Building </button>
        </div>
    </form>
</body>