<h1> Please read through the terms and conditions: </h1>

<div class="consent-form">
    <h3><u>Consent Information</u></h3>
    <p>
        Compliance with the General Data Protection Regulation (GDPR)</p>
    <p>
        The development team of the RobDroneGo application, in adherence to the General Data Protection Regulation (GDPR), presents its Privacy Policy for the RobDroneGo project. This project aims to create a prototype for a coordinated task system involving robots and drones.</p>
    <p>
        The Privacy Policy for the RobDroneGo prototype is valid for 1 year, from September 2023 to September 2024, during which the specified provisions and practices will be in effect.</p>

    <p>
        The temporal limitation has several implications:</p>
    <p>
        - Renewal and Update: After the validity period, the development team may review and update the Privacy Policy to align with the latest practices, regulations, and project needs.</p>
    <p>
        - Consistency with Legal Changes: The one-year timeframe ensures the Privacy Policy aligns with any changes in data protection laws, such as privacy law amendments or relevant regulations.</p>
    <p>
        - Transparency and User Information: The clear timeframe provides transparency to users about how long the rules and practices specified in the policy will be applied.</p>
    <p>
        - Renewal of Consent: After the validity period, the development team may request the renewal of user consent to continue using their personal data.</p>

    <p>
        In summary, the development team, by establishing a validity period, demonstrates a commitment to transparency, legal compliance, and continuous adaptation to changes in the regulatory environment and project needs.</p>

    <p>
        <u>Data Controller</u>
    </p>
    <p>
        The entity responsible for processing users' personal data is the development team of the prototype. Privacy-related inquiries can be sent to the following email address: 1201094@isep.ipp.pt.</p>
    <p>
        <u>Data Collection and Collection Purpose</u></p>
    <p>
        To use the prototype, it is necessary to create a user account. The development team, in total compliance with Article 4 of the General Data Protection Regulation (GDPR), has formulated its Privacy Policy for the RobDroneGo prototype to facilitate the use of robots and drones on campus.</p>

    <p>
        For the proper implementation of this prototype, the collection of the following personal data is essential:
    </p>
    <p>
        - Name;</p>
    <p>
        - Email address;</p>
    <p>
        - Location data;</p>
    <p>
        - Function and relationship with the Campus.</p>

    <p>
        This practice is in accordance with the legal provisions established by the GDPR.</p>

    <p>
        <u>Consent in Data Processing</u></p>
    <p>
        Obtaining user consent is a central element in data processing in the RobDroneGo prototype, in total accordance with the premises of the General Data Protection Regulation (GDPR). The account creation process in the application requires an affirmative and explicit action from the user, indicating their consent to the processing of personal data.</p>

    <p>
        By creating an account in the RobDroneGo application, the user explicitly consents to their data being processed for interaction with the application's requests and features. This consent is based on the principles of voluntariness, free choice, specificity, information, and unequivocality, as established in the GDPR.</p>

    <p>
        It is crucial to highlight that users retain the right to withdraw their consent at any time, as provided in data protection legislation. Transparency regarding consent is a priority, ensuring that users are fully informed about the purposes of data processing and can make informed choices. The development team is committed to ensuring that the consent acquisition process is clear, understandable, and in strict compliance with the legal requirements established by the GDPR.</p>

    <p>
        <u>Legal Basis for Data Processing</u></p>
    <p>
        By creating an account in the RobDroneGo application, the user explicitly consents to the processing of their data for interaction with the application's requests and capabilities, with this action being based on the user's consent, as established in the GDPR. The main purposes of this processing include:</p>
    <p>
        - Authentication and Identification:</p>
    <p>
        - The collected data, such as name and email address, are essential for account creation. </p>
    <p>
        - Improvement of Interaction: </p>
    <p>
        - Information about the function and relationship with the Campus is used to enhance the user's interaction with the application, allowing efficient navigation of robots and drones between buildings through elevators and passages.
    </p>
    <p>
        - Security and Surveillance:
    </p>
    <p>
        - Capturing images on the drone for surveillance is carried out to reinforce security on the Campus, providing an effective response to possible incidents.
    </p>
    <p>
        - System Administration:
    </p>
    <p>
        - Data processing also includes the retention of information for a specified period, even after account deletion, for administrative purposes in accordance with GDPR guidelines.
    </p>
    <p>
        <u>Information Retention</u></p>
    <p>
        Upon the deletion of an account, the development team reserves the right to retain necessary information for administrative purposes, respecting GDPR guidelines.
    </p>

    <p>
        <u>Privacy by Design and Security</u></p>
    <p>
        The RobDroneGo prototype was developed following the principles of privacy by design, incorporating robust security measures, including encryption, to ensure the adequate protection of users' personal data in compliance with the GDPR.</p>

    <p>
        <u>Notification of Privacy Policy Changes</u> </p>
    <p>
        Users will be notified of changes to the Privacy Policy, and these changes will be communicated clearly in the application, as required by the GDPR. </p>

    <p>
        <u>User Obligations</u></p>
    <p>
        By creating an account in the RobDroneGo application, the user declares to have read and agreed to this Privacy Policy in its entirety, respecting the principles of the GDPR.</p>

    <p>
        <u>User Rights</u>
    </p>
    <p>
        In accordance with the General Data Protection Regulation (GDPR), users of the RobDroneGo application have certain rights regarding their personal data:
    </p>
    <ul>
        <li>Right to Access: Users can request access to their personal data processed by the RobDroneGo application.</li>
        <li>Right to Rectification: Users have the right to request the correction of inaccurate or incomplete personal data.</li>
        <li>Right to Erasure: Users can request the deletion of their personal data under certain circumstances.</li>
        <li>Right to Restriction of Processing: Users have the right to limit the processing of their personal data in certain situations.</li>
        <li>Right to Data Portability: Users can request the transfer of their personal data to another data controller.</li>
        <li>Right to Object: Users have the right to object to the processing of their personal data in certain situations.</li>
        <li>Right to Withdraw Consent: Users can withdraw their consent for data processing at any time.</li>
    </ul>

    <p>
        To exercise these rights or for any privacy-related inquiries, users can contact the development team at 1201094@isep.ipp.pt.
    </p>
    <div class="ConsentFormButtons">
        <button class="submit-button" type="submit" (click)="Accept()"> I agree with the terms and conditions </button>
        <button class="submit-button" type="submit" (click)="Decline()"> I do not agree with the terms and conditions </button>
    </div>
</div>