<div class="centered_menu">
    <h1> Menu Login DEBUG </h1>
    <div> Because the login authentication system is under maintenance, you can use this menu to access the different
      other menus! Hopefully, everything will work well!<br> <br>
    </div>
    <a routerLink="/menu-campus">
      <button class="button" (click) = "selectMenuCampus()"> Campus Manager </button>
    </a>
    <a routerLink="/menu-fleet">
      <button class="button" (click) = "selectMenuFleet()"> Fleet Manager </button>
    </a>
    <a routerLink="/visualization-3D">
      <button class="button" (click) = "select3DVisualization()"> 3D Visualization </button>
    </a>
    <a routerLink="/menu-administrator">
      <button class="button" (click) = "selectMenuAdministrator()"> Administrator </button>
    </a>
  <a routerLink="/menu-assignment">
    <button class="button" (click) = "selectMenuAssignment()"> Assignment Manager </button>
  </a>
</div>
