<!-- Topbar -->
<div class="centered_menu" style="display: flex; flex-direction: column; align-items: center;">
  <h1> Functionalities: </h1>
  <div style="display: flex; justify-content: center;">
    <a routerLink="/robot"><button class="button" style="vertical-align:middle" (click)="showRobot()"><span>Robot</span></button></a>
    <a routerLink="/robot-type"><button class="button" style="vertical-align:middle" (click)="showRobotType()"><span>Robot Type</span></button></a>
    <button class="button" (click)="back()"><span>Back</span></button>
  </div>
</div>
