<body class="list-text">
    <main class="list-buildings">
        <div>
            <h1> Buildings on the database:</h1>

            <div class="card-container" *ngIf="buildings && buildings.length > 0">
                <div *ngFor="let building of buildings" class="card">
                    <div class="building-icon" role="building-icon">
                        <img src="assets/img/building-icon.png" width="60px" height="60px">
                    </div>
                    <strong> Building Code: </strong> {{ building.code }} <br>
                    <strong> Name: </strong> {{ building.name }} <br>
                    <strong> Description: </strong> {{ building.description }} <br>
                    <strong> Max Width: </strong> {{ building.widthMax }} <br>
                    <strong> Max Length: </strong> {{ building.lengthMax }} <br>
                </div>
            </div>
        </div>
    </main>
</body>