    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      background-color: #9A1A24;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .brand {
      font-size: 50px;
      font-family: sans-serif;
    }

    .topbar-middle {
      right: 50%;
      color: white;
      display: flex;
      position: relative;
      align-items: center;
      padding: 0;
      box-shadow: #6a6a6a
    }

    .topbar-left {
      color: white;
      display: flex;
      position: relative;
      align-items: left;
      padding: 0;
      box-shadow: #6a6a6a
    }

    .topbar-right {
      color: white;
      right: 50px;
      display: flex;
      position: absolute;
      align-items: right;
      padding: 0;

    }

    .isep_banner {
      position: fixed;
      bottom: 0px;
      right: 10px;
      background-color: #DDDDDD;
      border: 3px solid #DDDDDD;
      padding: 0px;
    }

    .centered_menu {
      box-shadow: 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
      position: relative;
      top: 200px;
      left: 20%;
      width: 60%;
      word-wrap: break-word;
      background-color: #DDDDDD;
      border: 3px solid #DDDDDD;
      padding: 0px;
      z-index: 0;
    }

    h1 {
      text-align: center;
    }

    a {
      color: white;
      font-weight: bold;
    }

    .button {
      background-color: #BA1A24;
      border-radius: 15px;
      border: none;
      color: white;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 5px;
      left: 27%;
      position: relative;
    }

    .button2 {
      background-color: #DA2A54;
      border-radius: 15px;
      border: none;
      color: white;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 5px;
      left: 27%;
      position: relative;
    }