
.idea/SEM_5_PI_Pengwings.iml
.idea/vcs.xml
Base_project/.idea/Base_project.iml
Base_project/.idea/modules.xml
Base_project/.idea/vcs.xml
.idea/modules.xml
.DS_Store
Base_project/.idea/.name
*.xml
*.iml
*.iml
.idea/SEM_5_PI_Pengwings.iml
node_modules/
.idea/SEM_5_PI_Pengwings.iml
package-lock.json
Base_project/NetEnd/DroneAPI/obj/
Base_project/NetEnd/DroneAPI/bin/
*.pack
*.old
Base_project/DroneAPI_Test/bin/
Base_project/DroneAPI_Test/obj/