<body class="text-center">
    <div class="form-floating">
      <label for="buildingSelected">Building Code</label>
      <select id="buildingSelected" [(ngModel)]="buildingSelected">
        <option *ngFor = "let building of buildings" [ngValue]="building">{{building.code}}</option>
      </select>

      <div class = "form-building">
        <form *ngIf = "buildingSelected" (ngValue)="buildingSelected">
          <div><strong>Code </strong> = {{buildingSelected.code}}</div>
          <div><strong>Name </strong> = {{buildingSelected.name}} </div>
          <div><strong>Description </strong> = {{buildingSelected.description}} </div>
          <div><strong>Max Width </strong> = {{buildingSelected.widthMax}} </div>
          <div><strong>Max Length </strong> = {{buildingSelected.lengthMax}} </div>
        </form>
      </div>
      <label for="floatingFloorNumber">Floor Number</label>
      <input type="number" id="floatingFloorNumber" placeholder="Floor Number" required>

      <label for="floatingFloorDescription">Floor Description</label>
      <input type="text" id="floatingFloorDescription" placeholder="Floor Description" required>

      <label for="floatingFloorLength">Floor Length</label>
      <input type="text" id="floatingFloorLength" placeholder="Floor Length" required>

      <label for="floatingFloorWidth">Floor Width</label>
      <input type="text" id="floatingFloorWidth" placeholder="Floor Width" required>

      <button class="submit-button" type="submit" (click)="createFloor()"> Create Floor </button>
    </div>
</body>
